* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
}

.logo {
    width: 140px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 15px;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col {
    margin-left: 6%;
}

.left-col h1 {
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}

.right-col {
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right-col  p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
}

#icon {
    width: 80px;
    cursor: pointer;
}

nav .fa-bars {
    display: none;
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 80px;
        margin-top: 5px;
        margin-left: 15px;
    }
    nav .fa-bars {
        display: block;
        position: fixed;
        top: 7%;
        right: 5%;
        color: #fff;
        font-size: 28px;
    }

    nav {
        top: 0;
        z-index: 10;
        position: fixed;
        max-height: 50px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.6);
        transition: max-height 1s;
    }

    nav ul {
        left: 10px;
    }

    nav ul li{
        display: block;
        margin: 10px;
        text-align: right;
    }
    
    nav ul li a {
        color: #fff;
    }

    .hidemenu {
        max-height: 300px;
    }

    .content {
        top: 40%;
    }

    .left-col h1{
        font-size: 30px;
        line-height: 30px;
    }

    .right-col {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-col p {
        font-size: 16px;
        margin-right: 0;
    }

    #icon {
        width: 65px;
    }
}